@charset "UTF-8";
/* CSS Document */

.intro-header {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	color: #f8f8f8;
	background-size: cover;
	text-align: left;
	background-color: #13B4Db;
}

.cm_intro_background{
	background-color: #13B4Db;
}

.cm_navbar{
    background-color: #fff;
}

.content-section-a {
	background-color: #EB5F60;
	background-size: 1500px;
	padding: 40px 0;
}

.content-section-b {
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #D3C5B5;
	padding: 100px 0;
	background-color:#CCCCCC;
	margin: 0 0 3px 0;
}

.content-section-c {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #D3C5B5;
	padding: 100px 0;
	margin: 0 0 3px 0;
	background: url("../img/gray.png");
  	background-repeat: repeat;
  	width: 100%;

}

.content-section-d {
	background-color: #EB5F60;
	background: url(../img/banner-bg.jpg);
	background-size: 1500px;
	padding: 50px 0;
}

.content-section-e {
	background-color: #EB5F60;
	background-size: 1500px;
	padding: 100px 0;
}

.content-section-f {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #D3C5B5;
	padding-top: 100px;
	margin: 0 0 3px 0;
	background: url("../img/gray.png");
  	background-repeat: repeat;
  	width: 100%;

}

.content-section-g {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #D3C5B5;
	margin: 0 0 3px 0;
	background: url("../img/white.png");
  	background-repeat: repeat;
  	width: 100%;
  	padding-top: 100px;
  	padding-bottom: 60px;
}

.content-section-h {
	background-color: #494949;
	background-size: 1500px;
	padding: 30px 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #D3C5B5;
	margin: 0 0 3px 0;
}
.cm_logo{
	max-height: 50px;
}

.cm_title{
	font-family: 'Signika','roboto-regular', "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
}

.cm_piece{
	max-width: 40px;
	text-align: center;
}

.cm_sub-title{
	color: #494949;
	font-size: 3em;
	text-align: left;
	padding-bottom:20px;
}

.lite{
	font-weight: lighter;
}

.cm_gestures_img{
	max-height: 500px;
	padding: 20px;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	margin-right: auto;
	margin-left: auto;
}

.cm_gestures_title{
	text-align: left;
	color:#494949;
}

.cm_gestures_text{
	color:#494949;
	text-align: left;
	font-weight: 100;
}
.cm_features_text{
	color:#494949;
	text-align: left;
	font-weight: 100;
	padding-top: 10px;
}

.cm_red_title{
	color:#E44424;
	font-weight:500;
}

.cm_gray_title{
	color:#494949;
	font-weight:500;
}

.cm_text_light{
	font-weight: lighter;
}

.cm_text_red{
	color:#E44424;
}

.cm_text_blue{
	color:#13B4DB;
}

.cm_text_w{
	color:#fff;
}

.cm_features-top{
	padding-bottom: 50px;
}

.cm_features_img{
	text-align: center;
	max-width: 240px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto;
}

.cm_features_title{
	font-family: 'Signika','roboto-regular', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.cm_center_align{
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.cm_divider {
	width: 800px;
	border-top: 1px solid #000;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cm_brand,
.cm_navbar li a {
    line-height: 66px;
    height: 66px;
    padding-top: 0;
    font-family: "roboto-regular", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

}

.cm_intro-message {
	text-align:left;
	font-weight: 500;

}

.cm_brandmessage{
	font-size: 260%;
	font-weight:100;
	margin-top: 45px;
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
}

.cm_list-inline{
	padding-left:0px;
}

.cm_demovideo{
	padding-top:80px;
	padding-bottom:40px;
	text-align:right;
}

.cm_text_des{
	color: #333333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
}

.img-gif{
	margin-right: auto;
	margin-left: auto;
}

.carousel-control.left, .carousel-control.right{ 
background: none !important; 
filter: progid:none !important; 
}

.cm_gif-text{
	color:#494949;
	text-align: center;
	font-weight: 100;
	padding-top: 10px;

}
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    font-size: 100px;
}

.gif-size{
	max-hight: 40px;
}
.cm_demo-app_img{
	text-align: center;
	max-width: 25px;
	margin-right: auto;
	margin-left: auto;
}

footer {
	background-color: #2B2827;
	padding: 70px;
}
.cm_call-text{
	font-weight: 100;
	font-size: e3px;
	color: #fff;
	text-align: left;


}
.img-responsive {
 	display: block;
 	height: auto;
 	max-width: 100%;
}

.cm_footer{
	text-align: left;
	font: #EB5F60;
	font-weight: 100;
	font-size: 18px;
}

.cm_logo_footer{
	max-width: 150px;
}

/* About us */

.cm_gray{
	padding-top: 100px;
	background: url("../img/gray.png");
  	background-repeat: repeat;
  	width: 100%;
}

.intro-about-us {
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	text-align: left;
	background-color: #13B4Db;
}


.about-us-section-a{
	background-color: #fff;
	border-bottom: 1px solid #D3C5B5;
	border-right: 1px solid #D3C5B5;
	max-width: 830px;
	padding: 0px;
	margin-bottom: 120px;
}

.cm_about-us_title{
	text-align: center;
	padding: 50px;
}

.cm_padding{
	padding:70px;
}

.cm_about-us{
	text-align: left;
	color:#494949;
	font-size: 2e;
	font-weight: lighter;
	padding-bottom: 20px;
}

.cm_about-us_w{
	text-align: left;
	color: #fff;
	font-size: 2e;
	font-weight: lighter;
	padding-bottom: 20px;
}

.cm_about-us-des{
	text-align: left;
	color:#8c8383;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.7;
}

.cm_developer_intro{
	text-align: left;
	color: #fff;
	font-size: 20px;
	font-weight: lighter;
	line-height: 1.7;
}

.cm_about-us-name{
	color:#494949;
	font-size: 1e;
	font-weight: lighter;
	padding-bottom: 20px;
}

.cm_center{
	text-align: center;
}

.about-us-section{
	border-top: 1px solid #e0e0e0
}

.cm_team{
	max-width: 130px;
	text-align: center;
	padding-bottom: 10px;
}

.cm_friends{
	width: 100px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo_small{
	padding-top: 30px;
	padding-bottom: 10px
	text-align: center;
	max-width: 30px;
}

/* Developers page */

.cm_background_red{
	background-color: #EB5F60;
}

.cm_price_padding{
	padding: 15px;
}

.cm_price_free{
	background-color: #EB5F60;
	padding-bottom: 20px;
	border:1px solid #EB5F60;
	border-radius: 5px;
}


.cm_price_advanced{
	background-color: #a1b9d1;
	padding-bottom: 20px;
	border:1px solid #13B4DB;
	border-radius: 5px;

}

.cm_lite{
	font-family: Roboto-regular, "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	font-weight: 300;
	color:#fff;
	font-size: 25px;
	line-height: 1.7;
	padding-left: 20px;
	padding-bottom: 5px;
}

.check{
	font-family: Roboto-light, "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: left;
	font-weight: ;
	color:#fff;
	font-size: 18px;
	line-height: 2.3;
	padding-top: 15px;
}

.contact-form {
    margin-top:30px;
}

#map {
    width: 600;
    height: 350px;
}